<form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <input type="text" formControlName="name" placeholder="Nombre">
        <div class="input-error" *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
            <span *ngIf="form.controls.name.hasError('required')">
                El nombre es obligatorio.
            </span>
        </div>
    </div>
    
    <div class="input-group">
        <input type="email" formControlName="email" placeholder="Email">
        <div class="input-error" *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
            <span *ngIf="form.controls.email.hasError('required')">
                El email es obligatorio.
            </span>
            <span *ngIf="form.controls.email.hasError('email')">
                Debe ser un email válido.
            </span>
        </div>
    </div>
    
    <div class="input-group">
        <input type="password" formControlName="password" placeholder="Contraseña">
        <div class="input-error" *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
            <span *ngIf="form.controls.password.hasError('required')">
                La contraseña es obligatoria.
            </span>
            <span *ngIf="form.controls.password.hasError('minlength')">
                Debe tener 4 caracteres como mínimos.
            </span>
        </div>
    </div>
    
    <div class="input-group">
        <input type="password" formControlName="password_confirmation" placeholder="Confirmar contraseña">
        <div class="input-error" *ngIf="(form.controls.password_confirmation.invalid || form.hasError('confirmed')) && (form.controls.password_confirmation.dirty || form.controls.password_confirmation.touched)">
            <span *ngIf="form.controls.password_confirmation.hasError('required')">
                Confirmar la contraseña es obligatorio.
            </span>
            <span *ngIf="form.hasError('confirmed')">
                Las contraseñas no son iguales.
            </span>
        </div>
    </div>

    <div>
        <button type="submit">Registrarse</button>
    </div>
</form>