<div class="card" *ngIf="!sent">
    <div class="card-title">
        <h2>Recuperar contraseña</h2>
    </div>
    <div class="card-description">
        Ingresa tu email y te enviaremos un link para que puedas reestablecer la contraseña.
    </div>
    <div class="card-content">
        <app-password-email-form (submitted)="onSubmit($event)"></app-password-email-form>
    </div>
</div>

<div class="card card-info" *ngIf="sent">
    <div class="card-title">
        <h2>Recuperar contraseña</h2>
    </div>
    <div class="card-content">
        {{ message }}
    </div>
    <div class="card-actions">
        <a class="clickable" [routerLink]="['/']">Ir al home</a>
    </div>
</div>