<div class="card">
    <div class="card-title">
        <h2>Iniciar sesión</h2>
    </div>
    <div class="card-content">
        <form  [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <input type="email" formControlName="email" placeholder="Email">
                <div *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
                    <span *ngIf="form.controls.email.hasError('required')">
                        El email es obligatorio.
                    </span>
                    <span *ngIf="form.controls.email.hasError('email')">
                        Debe ser un email válido.
                    </span>
                </div>
            </div>
            
            <div>
                <input type="password" formControlName="password" placeholder="Contraseña">
                <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
                    <span *ngIf="form.controls.password.hasError('required')">
                        La contraseña es obligatoria.
                    </span>
                </div>
            </div>
        
            <div *ngIf="invalid_grant">
                Email o contraseña incorrecta
            </div>
        
            <div>
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>