<form  [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="input-group">
        <input type="email" formControlName="email" placeholder="Email">
        <div class="input-error" *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
            <span *ngIf="form.controls.email.hasError('required')">
                El email es obligatorio.
            </span>
            <span *ngIf="form.controls.email.hasError('email')">
                Debe ser un email válido.
            </span>
        </div>
    </div>

    <div>
        <button type="submit">Enviar</button>
    </div>
</form>