/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #1d0f4a;
    --button-color: #000000;
    --button-bg-color: #CACACA;
    --button-hover-color: #00ac97;
    --button-hover-bg-color: #fefefe;
    --card-title-bg-color: #110E2B;
    --card-title-color: #ffffff;
    --card-content-bg-color: #d1cfda;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-xl: 32px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-xl: 32px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0 var(--padding-md);
}

h2 {
    margin: 0;
}

input {
    border: 0;
    padding: var(--padding-sm);
    width: 100%;
}

button {
    border: 0;
    border-radius: var(--border-radius-md);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    cursor: pointer;
    padding: var(--padding-md);
    width: 100%;
    transition: background-color .6s, color .6s;
}

button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-color);
}

.card-title {
    background-color: var(--card-title-bg-color);
    color: var(--card-title-color);
    padding: var(--padding-sm) 0;
    text-align: center;
}

.card-content {
    background-color: var(--card-content-bg-color);
    padding: var(--padding-lg);
}

.input-group {
    margin-bottom: var(--margin-md);
}