/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #1d0f4a;
    --error-color: #ac001d;
    --button-color: #000000;
    --button-bg-color: #CACACA;
    --button-active-initial-color: #00ac98;
    --button-active-initial-bg-color: #d5d5d5;
    --button-active-final-color: #00ac98;
    --button-active-final-bg-color: #fefefe;
    --button-action-bg-color: #c6c6c6;
    --button-action-color: #0e0e0e;
    --card-title-bg-color: #110E2B;
    --card-title-color: #ffffff;
    --card-description-bg-color: #2e2b58;
    --card-description-color: #ffffff;
    --card-content-bg-color: #d1cfda;
    --card-info-content-bg-color: #333;
    --card-info-content-color: #fff;
    --alert-bg-color: #dedede;
    --action-bar-color: #ffffff;
    --action-bar-icon-border-color: #7c7380;
    --action-bar-icon-bg-color: #31302c;
    --height-md: 40px;
    --height-lg: 48px;
    --font-size-xs: 13px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --length-xs: 4px;
    --length-sm: 8px;
    --length-md: 16px;
    --length-lg: 24px;
    --length-xl: 32px;
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: 'Lato', sans-serif;
    --font-family-title: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}

.is-loading { 
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
}

h2 {
    margin: 0;
}

input {
    border: 0;
    padding: 0 var(--length-md);
    height: var(--height-md);
    width: 100%;
}

button {
    border: 0;
    border-radius: var(--length-md);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-family-secondary);
    font-size: 18px;
    height: var(--height-lg);
    padding: 0;
    width: 100%;
    transition: background-color .4s, color .2s;
}

input:focus,
button:focus {
    outline: 0;
}

button:hover {
    background-color: var(--button-active-final-bg-color);
    color: var(--button-active-final-color);
}

button.clickable {
    animation: clickable 1.2s infinite alternate-reverse;
}

.app {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    padding: 0 var(--length-sm);
}

.card {
    margin: 0 auto;
    max-width: 512px;
    width: 100%;
}

.card-title {
    background-color: var(--card-title-bg-color);
    color: var(--card-title-color);
    font-family: var(--font-family-title);
    padding: var(--length-sm) 0;
    text-align: center;
}

.card-content {
    background-color: var(--card-content-bg-color);
    padding: var(--length-lg);
}

.card-description {
    background-color: var(--card-description-bg-color);
    color: var(--card-description-color);
    font-size: var(--font-size-sm);
    text-align: center;
    padding: var(--length-md);
}

.card-info .card-content {
    background-color: var(--card-info-content-bg-color);
    color: var(--card-info-content-color);
    font-family: var(--font-family-secondary);
}

.card-info .card-actions a {
    height: var(--height-md);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-action-bg-color);
    color: var(--button-action-color);
    font-weight: bold;
}

.card-info .card-actions a.clickable {
    animation: clickable 1.2s infinite alternate-reverse;
}

.input-group {
    margin-bottom: var(--length-sm);
}

.input-error {
    margin-top: var(--length-xs);
    font-size: var(--font-size-xs);
    color: var(--error-color);
}

/* ALERT */

.overlay-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.overlay-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    padding: var(--length-xl) var(--length-md);
    background-color: var(--alert-bg-color);
    border-radius: var(--length-md);
    max-width: 512px;
    font-family: var(--font-family-secondary);
}

.loading-message,
.alert-message {
    text-align: center;
}

.alert-message {
    padding: var(--length-md) var(--length-sm) var(--length-lg);
}

.loading-message {
    padding: var(--length-md) var(--length-sm);
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.bg-img {
    position: absolute;
}

.bg-top,
.bg-bottom {
    width: 50%;
}

.bg-top {
    top: 0;
    left: 0;
}

.bg-bottom {
    bottom: 0;
    right: 0;
}

.bg-left,
.bg-right {
    top: 0;
    display: none;
    height: 100%;
}

.bg-left {
    left: 0;
}

.bg-right {
    right: 0;
}

@media screen and (min-width: 768px) {
    .bg-bottom,
    .bg-top {
        display: none;
    }

    .bg-left,
    .bg-right {
        display: block;
    }
}

router-outlet + * {
    display: grid;
    height: 100vh;
}

router-outlet + * {
    align-items: center;
}

@keyframes clickable {
    from {
        background-color: var(--button-active-initial-bg-color);
        color: var(--button-active-initial-color);
    }
    to {
        background-color: var(--button-active-final-bg-color);
        color: var(--button-active-final-color);
    }
}

.action-bar {
    position: absolute;
    bottom: 16px;
    color: #fff;
    font-size: 14px;
    font-family: var(--font-family-secondary);
    left: 16px;
}

.action-bar a {
    display: flex;
    align-items: center;
}

.action-bar .material-icons {
    border: 1px solid var(--action-bar-icon-border-color);
    background-color: var(--action-bar-icon-bg-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--length-sm);
    font-size: var(--font-size-xs);
}