/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #1d0f4a;
    --error-color: #ac001d;
    --button-color: #000000;
    --button-bg-color: #CACACA;
    --button-active-initial-color: #00ac98;
    --button-active-initial-bg-color: hsl(0 0% 90% / 1);;
    --button-active-final-color: #00ac98;
    --button-active-final-bg-color: #fefefe;
    --card-title-bg-color: #110E2B;
    --card-title-color: #ffffff;
    --card-description-bg-color: #2e2b58;
    --card-description-color: #ffffff;
    --card-content-bg-color: #d1cfda;
    --alert-bg-color: #dedede;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-xl: 32px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-xl: 32px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --height-md: 40px;
    --height-lg: 48px;
    --font-size-sm: 13px;
    --font-size-md: 16px;
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: 'Lato', sans-serif;
    --font-family-title: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0 var(--padding-md);
    font-family: var(--font-family-primary);
}

h2 {
    margin: 0;
}

input {
    border: 0;
    padding: 0 var(--padding-md);
    height: var(--height-md);
    width: 100%;
}

button {
    border: 0;
    border-radius: var(--border-radius-md);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    cursor: pointer;
    font-weight: bold;
    font-family: var(--font-family-secondary);
    font-size: 18px;
    height: var(--height-lg);
    padding: 0;
    width: 100%;
    transition: background-color .4s, color .2s;
}

input:focus,
button:focus {
    outline: 0;
}

button:hover {
    background-color: var(--button-active-final-bg-color);
    color: var(--button-active-final-color);
}

.card-title {
    background-color: var(--card-title-bg-color);
    color: var(--card-title-color);
    font-family: var(--font-family-title);
    padding: var(--padding-sm) 0;
    text-align: center;
}

.card-content {
    background-color: var(--card-content-bg-color);
    padding: var(--padding-lg);
}

.card-description {
    background-color: var(--card-description-bg-color);
    color: var(--card-description-color);
    font-size: var(--font-size-sm);
    text-align: center;
    padding: var(--padding-md);
}

.input-group {
    margin-bottom: var(--margin-sm);
}

.input-error {
    font-size: var(--font-size-sm);
    color: var(--error-color);
}

/* ALERT */

.alert-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.alert-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.alert {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 var(--margin-md);
    padding: var(--padding-md);
    background-color: var(--alert-bg-color);
    border-radius: var(--border-radius-md);
}

.alert-message {
    font-family: var(--font-family-secondary);
    padding: var(--padding-md) var(--padding-sm) var(--padding-lg);
    text-align: center;
}

button.clickable {
    animation: clickable 1.2s infinite alternate-reverse;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.bg-img {
    position: absolute;
    width: 50%;
}

.bg-top {
    top: 0;
    left: 0;
}

.bg-bottom {
    bottom: 0;
    right: 0;
}

router-outlet + * {
    display: grid;
    height: 100vh;
}

router-outlet + * {
    align-items: center;
}

@keyframes clickable {
    from {
        background-color: var(--button-active-initial-bg-color);
        color: var(--button-active-initial-color);
    }
    to {
        background-color: var(--button-active-final-bg-color);
        color: var(--button-active-final-color);
    }
}